.thick-container{
    white-space: nowrap;
    background-color: #333;
    color: white;
    padding-top: 10px;
    position: relative;
    width: 100%;
}

.scroll-text{
    display: inline-block;
    padding-left: 20%;
    animation: scroll 15s linear infinite;
    margin-bottom: 10px;
}

@keyframes scroll{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.thick-container:hover .scroll-text{
    animation-play-state: paused;
}


.white-background-logo{
    background-color: white;
    height: 60px;
    padding: 20px 0 0 40px;
}

.add-location{
    background-color: rgb(227, 224, 224);
    padding: 5px;
    width: 100%;
    margin-top: 120px;
}
 
 .Location{
     margin: 5px;
     font-size: 13px;
     font-weight: 600;
 }
 
 #map-icon{
     margin: 5px;
 }
 
 .link-location{
     margin-left: 30px;
     color: black;
 }
 
 .link-location:hover{
     text-decoration: none;
 }

 .big-header{
    position: fixed;
    top: 0;
    width: 100%;
 }

 .cart-bag-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
 }

 .Your{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
 }

 .Stay{
    font-weight: 100;
    color: rgb(102, 101, 101);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .trending-now-btn{
    /* height: 50px; */
    padding: 17px;
    width: 200px;
    background-color: rgb(253, 109, 43);
    border-radius: 50px;
    text-align: center;
    color: white;
    font-weight: 900;
    margin-left: 16%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .cart-bag-logo{
    width: 350px;
    text-align: center;
 }

 .foot-menu{
    display: flex;
    width: 300px;
    color: rgb(97, 96, 96);
 }

 .foot-some-menu{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7%;
 }

 .footer-cart{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
 }

 .photo-icon{
    margin: 15px;
 }

 .copyRight-text{
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }


 .diff-icon{
    height: 40px;
    margin: 20px 10px 0 0;
 }